# Latex
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.lot
*.lof
/cache/*

# Sublime
*.sublime-project
*.sublime-workspace

# Credentials
credentials.R
/data/*

# R
.Rproj.user/*
.Rproj.user

# Project specific
acs-article.bib

*.directory
