# Latex
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.lot
*.lof
*.toc
/cache/*

# Sublime
*.sublime-project
*.sublime-workspace

# Credentials
credentials.R
/data/*

# R
.Rproj.user/*
.Rproj.user
*.rds
ms_est.Rproj  

# Project specific
acs-article.bib

*.directory
abstract_art/*
!abstract_art/abstract.svg
!abstract_art/abstract.pdf
